<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JavaScript 수업 내용</title>
</head>
<body>
    <h1>JavaScript 수업 내용</h1>
    <p>
        <dl> <!-- 설명 문구들을 작성하는 설명 목록 -->
            <dt>스크립트 언어란?</dt> <!-- 설명의 제목 -->
            <dd>                       <!-- 설명의 내용 -->
                사용자의 요구에 맞게 수행되도록 코드를 간결하게<br>
                작성하는 언어, 배우기 쉽고 매우 빠르게 구현할 수 있다.
            </dd>
        </dl>
    
        <dl>
            <dt>자바 스크립트</dt>
            <dd>
                ECMA 스크립트 표준을 따르는 대표적인 웹 기술 구현 언어,<br>
                웹 브라우저에서 가장 많이 사용하는 인터프리터 언어로 <br>
                객체 지향 언어이다.
            </dd>
        </dl>
    </p>

    <!-- ol>li>a -->
    <ol>
        <li><a href="01_JavaScript.html">개요</a></li>
        <li><a href="02_JavaScript.html">데이터 처리하기</a></li>
        <li><a href="03_JavaScript.html">HTML 태그 요소 접근하기</a></li>
        <li><a href="04_JavaScript.html">변수와 자료형</a></li>
        <li><a href="05_JavaScript.html">String과 Math</a></li>
        <li><a href="06_JavaScript.html">데이터 형변환</a></li>
        <li><a href="07_JavaScript.html">연산자</a></li>
        <li><a href="08_Silsub-1.html">실습 1</a></li>
        <li><a href="09_JavaScript.html">배열</a></li>
        <li><a href="10_JavaScript.html">함수 part.1</a></li>
        <li><a href="11_JavaScript.html">함수 part.2</a></li>
        <li><a href="12_JavaScript.html">함수 part.3</a></li>
        <li><a href="13_Silsub-2.html">실습 2</a></li>
        <li><a href="14_JavaScript.html">이벤트</a></li>
        <li><a href="15_JavaScript.html">자바스크립트 객체</a></li>
        <li><a href="16_JavaScript.html">JS 객체 배열</a></li>
        <li><a href="17_JavaScript.html">JS 내장 객체</a></li>
        <li><a href="18_JavaScript.html">window 객체(BOM)</a></li>
        <li><a href="19_JavaScript.html">Document 객체(DOM)</a></li>
        <li><a href="20_Silsub-3.html">실습 3</a></li>
        <li><a href="21_JavaScript.html">정규표현식</a></li>
        <li><a href="Ques.html">Question</a></li>
        <!-- br*2+a[href="00_index.html"]{인덱스로 돌아가기}+br*10 -->
    </ol>


    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>