<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HTML 태그 요소 접근하기</title>
</head>
<body>
    <h1>HTML 태그 요소 접근하기</h1>

    <h3>아이디로 접근하기</h3>

    <div id="area1"></div>

    <!-- button[type=button onclick="testDiv1();"]{실행 확인} -->
    <button type="button" onclick="testDiv1();">실행 확인</button>

    <script>
        function testDiv1(){
            var area1 = document.getElementById('area1');
            
            // 단순히 ID 속성 하나로 접근이 가능하지만
            // 해당 요소를 잘못 접근할 수 있기 때문에
            // 직접 접근 방법인 (document.getElementById)를
            // 사용하여 접근하는 것을 권장한다.
            area1.innerHTML = "아이디 접근 확인!";
            area1.style.backgroundColor = 'lightpink';
        }
    </script>

    <hr>

    <h3>태그 명으로 접근하기</h3>

    <!-- ul{태그목록}>li{ 목록 $ }*5 -->
    <ul>태그목록
        <li> 목록 1 </li>
        <li> 목록 2 </li>
        <li> 목록 3 </li>
        <li> 목록 4 </li>
        <li> 목록 5 </li>
    </ul>

    <!-- button[type=button onclick=testUl]{실행 확인} -->
    <button type="button" onclick="testUl();">실행 확인</button>

    <script>
        function testUl(){
            var list = document.getElementsByTagName('li');

            console.log(list);
            console.log("list 길이 : " + list.length);

            for( var i = 0 ; i < list.length ; i++){
                console.log(list[i]);
                list[i].style.backgroundColor 
                      = "rgb( 100, 200, " + (i * 50) + ")";
            }
        }
    </script>

    <br><hr>

    <!-- h3{속성으로 접근하기} -->
    <h3>속성으로 접근하기</h3>

    <fieldset>
        <legend>취미</legend>

        <table>
            <!-- (tr>(td>input:checkbox)*3)*2 -->
            <tr>
                <td>
                    <input type="checkbox" name="hobby" id="puzzle" value="퍼즐" >
                    퍼즐
                </td>
                <td>
                    <input type="checkbox" name="hobby" id="dadlift" value="데디리프트" >
                    데디리프트
                </td>
                <td>
                    <input type="checkbox" name="hobby" id="movie" value="영화감상" >
                    영화감상
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="hobby" id="netflix" value="넷플릭스" >
                    넷플릭스
                </td>
                <td>
                    <input type="checkbox" name="hobby" id="coding" value="코딩" >
                    코딩
                </td>
                <td>
                    <input type="checkbox" name="hobby" id="meditation" value="명상" >
                    명상
                </td>
            </tr>
        </table>
    </fieldset>

    <!-- div#resultHobby -->
    <div id="resultHobby"></div>

    <!-- button[type=button onclick=hobbyTest]{실행 확인} -->
    <button type="button" onclick="hobbyTest();">실행 확인</button>

    <script>
        function hobbyTest(){
            var hobby = document.getElementsByName('hobby');
            console.log("취미 수 :" + hobby.length);
            var result = "";
 
            for( var i = 0 ; i < hobby.length; i++){
                if(hobby[i].checked == true){
                    result += hobby[i].value +"을(를) 선택하셨습니다.<br>";
                }
            }

            document.getElementById('resultHobby').innerHTML = result;

        }
    </script>

    <hr>

    <h3>QuerySelector 접근하기</h3>

    <!-- table[border=1]>(tr>td*3)*3 -->
    <table border="1">
        <tr>
            <td class="th"> 1 </td>
            <td> 2 </td>
            <td> 3 </td>
        </tr>
        <tr>
            <td class="th"> 4 </td>
            <td> 5 </td>
            <td> 6 </td>
        </tr>
        <tr>
            <td class="th"> 7 </td>
            <td> 8 </td>
            <td id="lastNumber"> 9 </td>
        </tr>
    </table>

    <!-- button[type=button onclick=tableCheck]{실행 확인} -->
    <button type="button" onclick="tableCheck();">실행 확인</button>

    <script>

    function tableCheck(){
        // var result1 = document.getElementsByClassName('th');
        var result1 = document.querySelectorAll('.th');
        console.log(result1);

        document.querySelector('#lastNumber')
                .style.backgroundColor = 'lightpink';
    }

    </script>

    <hr>

    <h3>문자 데이터 가져오기</h3>
    이메일 : <input type="text" name="email" id="email" size="6">
             <select id="domain">
                 <option value="@naver.com">네이버</option>
                 <option value="@gmail.com">구글</option>
                 <option value="@dreamwiz.com">드림위즈</option>
             </select>
             &nbsp;&nbsp;&nbsp;
    <button type="button" onclick="testEmail();">실행 확인</button>

    <script>
        function testEmail(){
            var email = document.getElementById('email');
            // console.log(email.value);

            var domain = document.getElementById('domain');
            // console.log(domain.value);

            alert(email.value + domain.value + " 메일 확인 완료!");
        }
    </script>

    <hr>

    <h3>input : password 활용하기</h3>

    비밀번호 : 
    <!-- input:password -->
    <input type="password" name="userPwd" id="userPwd">
    <p id="pwdValidate">
        비밀번호 확인 결과
    </p>

    <br><br>

    <button type="button" onclick="validate();">실행 확인</button>
    <!--
        스크립트 태그를 작성하여 validate 함수를 구현하되,
        태그를 getElementById / querySelector 중 하나를 사용하여
        value를 가져와 길이에 맞는 문장 작성하기
        태그.value.length : 문자 길이
        style.color = "글자색" :
            pwdValidate 에 결과를 넣고 글자색 바꾸기

        문자길이 == 0 : (red) 비밀번호는 필수입니다.
        문자길이 < 8 : (red) 비밀번호는 8자 이상이어야 합니다.
        문자길이 >= 8 : (green) 올바른 비밀번호입니다 ^_^
     -->

    <script>
        function validate(){
            var count = document.getElementById('userPwd').value.length;
            var result = document.querySelector('#pwdValidate');
            var msg, colorName, 
                code = (count == 0) ? 0 : (count < 8) ? 1 : 2;
           
            // switch
            switch(code){
                case 0:
                    msg = '비밀번호는 필수입니다.';
                    colorName = "red";
                    break;
                case 1:
                    msg = "비밀번호는 8자 이상이어야 합니다.";
                    colorName = "red";
                    break;
                case 2:
                    msg = "올바른 비밀번호입니다 ^_^";
                    colorName = "green";
                    break;
                // default: 생략 가능
            }
            
            result.innerHTML = msg;
            result.style.color = colorName;
            
            // if-else if
            /*
            if(count == 0) {
                result.innerHTML = '비밀번호는 필수입니다.';
                result.style.color = "red";
            } else if(count < 8) {
                result.innerHTML = '비밀번호는 8자 이상이어야 합니다.';
                result.style.color = "red";
            } else {
                result.innerHTML = '올바른 비밀번호입니다 ^_^';
                result.style.color = "green";
            }
            */
        }

    </script>
    

    <br><br>
    
    <a href="00_index.html">인덱스로 돌아가기...</a>

    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>