<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>데이터 형변환</title>
    <style>
        div {
            width : 400px;
            height: auto;
            padding: 10px;
            background : lightgreen;
        }
    </style>
</head>
<body>
    <h1>데이터 형변환</h1>

    <h3>문자열 + 숫자 = 문자열</h3>

    <button onclick="test1();">실행 확인</button>

    <div id="area1"></div>

    <script>
        function test1(){
            var result1 = 7 + '7';
            var result2 = '7' + 7 + '7';
            var result3 = 7 + 7 + '7';

            var div1 = document.getElementById("area1");
            div1.innerHTML = result1 + ", " + result2 + ", " + result3;
        }
    </script>

    <h3>숫자 변환하기</h3>

    <p>
        Number(), parseInt(), parseFloat(), String()
    </p>

    <button onclick="test2();">실행 확인</button>

    <div id="area2"></div>

    <script>
        function test2(){
            var num1 = 2.5;
            var num2 = '3';
            var num3 = '15%';

            var div2 = document.querySelector('#area2');

            div2.innerHTML = num1 +" , " + num2 + ", " + num3 + "<br><hr>";

            // Number()
            div2.innerHTML += "Number(num1) : " + Number(num1) + "<br>";
            div2.innerHTML += "Number(num2) : " + Number(num2) + "<br>";
            div2.innerHTML += "Number(num3) : " + Number(num3) + "<br><hr>";
            // ** NaN : Not a Number (숫자 변환 불가)

            // parseInt()
            // 앞에서부터 숫자로 변환하는 함수, 숫자가 아닐 때까지 변환한다.
            // 변환한 숫자는 정수형(소숫점 제외)이 된다.
            div2.innerHTML += "parseInt(num1) : " + parseInt(num1) + "<br>";
            div2.innerHTML += "parseInt(num2) : " + parseInt(num2) + "<br>";
            div2.innerHTML += "parseInt(num3) : " + parseInt(num3) + "<br><hr>";

            // parseFloat()
            div2.innerHTML += "parseFloat(num1) : " + parseFloat(num1) + "<br>";
            div2.innerHTML += "parseFloat(num2) : " + parseFloat(num2) + "<br>";
            div2.innerHTML += "parseFloat(num3) : " + parseFloat(num3) + "<br><hr>";

            // String()
            div2.innerHTML += "String(5) + 5 : " + ( String(5) + 5 );
        }
    </script>

    <hr>

    <h3>eval() 함수</h3>
    <p>
        스크립트 내부의 문자열을 코드로 변환하는 역할 (실무에서도 안씀)
    </p>
    수학식 입력 : <input type="text" name="evalTest" id="evalTest"
                         placeholder="ex) 10 + 5">
    <br>

    <button onclick="test3();">실행 확인</button>

    <div id="area3"></div>

    <script>
        function test3(){
            var evalData = document.getElementById('evalTest').value;

            var div3 = document.querySelector('#area3');
            div3.innerHTML = evalData + " = " + eval(evalData);
            // "10 + 5" -> 10 + 5
        }

    </script>
    
    <hr>

    <h3>Infinite와 NaN</h3>

    <button onclick="test4();">실행 확인</button>

    <div id="area4"></div>

    <script>
        function test4(){
            var num1 = 10 / 0;
            var num2 = 10 / 'a';

            var div4 = document.getElementById('area4');

            div4.innerHTML = '10 / 0 = ' + num1 + "<br>";
            div4.innerHTML += '10 / a = ' + num2 + "<br>";

            // isFinite() / isNaN()
            div4.innerHTML += '10 / 0 == Finite ? ' + isFinite(num1) + "<br>";
            div4.innerHTML += '10 / a == NaN ? ' + isNaN(num2);
        }
    </script>

    <hr>

    <h3>NaN 실습</h3>
    <input type="text" name="num1" id="num1" size=2>
    <select id="oper">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">x</option>
        <option value="/">/</option>
    </select>
    <input type="text" name="num2" id="num2" size=2>
    =
    <span id="result">0</span>

    <button onclick="calculate();">계산하기</button>

    <script>
        function calculate(){
            /*
                num1과 num2의 값을 받아 oper의 value를 활용해
                간이 계산기를 만들어 결과를 span#result에 기록하되
                무한한 값이나 NaN이 나오면 '계산할 수 없습니다.'
                라고 결과 빨간 글씨로 출력하기
            */
        }
    </script>

    <br><br>
    
    <a href="00_index.html">인덱스로 돌아가기...</a>

    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>