<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>연산자</title>
    <style>
        div{
            width:300px;
            height : auto;
            padding : 15px;
            background : lightsalmon;
            color : darkgreen;
        }
    </style>
</head>
<body>
    <h1>연산자</h1>

    <h3> ===, !== 연산자 </h3>
    
    <!-- button[onclick=test1]{실행 확인} -->
    <button onclick="test1();">실행 확인</button>

    <!-- div#area1 -->
    <div id="area1"></div>

    <script>
        function test1(){
            var num1 = 10, num2 = '10';

            var div = document.getElementById('area1');

            div.innerHTML  = "num1 == 10 : " + (num1 == 10) + "<br>";
            div.innerHTML += "num2 == 10 : " + (num2 == 10) + "<br>";
            div.innerHTML += "num1 == num2 : " + (num1 == num2) + "<br><hr>";

            // ---------------------------------------------------------
            // 실제 값 뿐 아니라 그 자료형(Type)까지 비교하는 연산자
            div.innerHTML += 'num1 === num2 : ' + (num1 === num2) + "<br>";
            div.innerHTML += 'num2 !== 10 : ' + (num2 !== 10);
        }
    </script>

    <hr>

    <h3>단항 조건식</h3>

    <button onclick="test2()">실행 확인</button>

    <script>
        function test2(){
            var answer = window.prompt('아침에는 다리가 4개, '+
                                       '점심에는 다리가 2개, '+
                                       '저녁에는 다리가 3개인 동물은 무엇인가?');
            /*
            if(answer == '없음') {
                alert('정답입니다!');
            } else {
                alert('땡! 틀렸습니다!');
            } 
            */ 
            // 단항 조건식
            // A && B : A가 참이면 B를 실행해라!
            // A || B : A가 거짓이면 B를 실행해라!
            answer == '없음' && alert('정답입니다!');
            answer == '없음' || alert('땡! 틀렸습니다!');
        }
    </script>

    <br><br>
    
    <a href="00_index.html">인덱스로 돌아가기...</a>
    
    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>