<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>함수 Part.1</title>
</head>
<body>
    <h1>함수 Part.1</h1>

    <h3>function 함수명() { ... }</h3>
    <button onclick="test1();">실행 확인</button>

    <script>
        function test1(){
            alert('test1() 실행 완료!');
        }
    </script>

    <h3>(function() {...})(); : 즉석 실행 함수</h3>

    <p id="p2">
        Hello World!
    </p>

    <script>
        (function(){
            document.getElementById('p2').innerHTML
               = '즉석 실행 확인!!';
        })();
    </script>

    <h3>함수명 = function() { ... } : 익명함수</h3>

    <button onclick="test3();">실행 확인</button>
    <script>
        // 일반 방법
        /*
        var test3 = function(){
            alert('익명함수입니다.');
        }
        */
        // 축약 방법 (화살표) -> 람다식
        var test3 = () => { alert('축약 방식 함수입니다.'); };
    </script>

    <br>

    <h3>전달인자(arguments)와 매개변수(parameter)</h3>
    <h4>기본 형태</h4>
    <button id="btn1">실행 확인</button>

    <script>
        document.getElementById('btn1').onclick = function(){
            var result = window.prompt('이메일을 입력하세요');

            test4( result );
        }

        function test4( mail ){

            console.log("입력된 이메일 : " + mail);
            
        }
    </script>

    <br>

    <h4>전달인자와 매개변수가 서로 다른 상황</h4>
    <!-- (button#btn$@2{실행 확인}+br)*2 -->
    <button id="btn2">실행 확인(전달인자 많음)</button><br>
    <button id="btn3">실행 확인(매개변수가 많음)</button><br>

    <script>
        document.getElementById('btn2').onclick = function(){
            // 전달인자가 매개변수보다 많은 경우
            // 초과된 인자들은 무시된다.
            test5('사과', '배', '포도', '수박', '두리안');
        }

        function test5(a, b, c){
            console.log(a + ", " + b + ", " + c);
        }

        document.getElementById('btn3').onclick = function(){
            // 매개변수가 전달인자보다 많은 경우
            // 전달받지 못한 매개 변수는 'undefined'가 된다!
            test5('김');
        }
    </script>

    <br>

    <h4>가변 인자 함수</h4>
    <button onclick="test6();">실행 확인</button>

    <!-- p#sumResult -->
    <p id="sumResult"></p>

    <script>
        function test6(){
            sumAll(1, 2, 3);
            sumAll(10, 20, 30, 40, 50);
        }

        function sumAll(){
            console.log(arguments); // 전달인자 전부

            var sum = 0;

            for( var i = 0 ; i < arguments.length ; i++){
                sum += arguments[i];
            }

            document.getElementById('sumResult').innerHTML
                 += '합계 : ' + sum + "<br>";
        }
    </script>

    <br><br>
    
    <a href="00_index.html">인덱스로 돌아가기...</a>

    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>