<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>함수 part.2</title>
    <style>
        body {
            padding-left : 10px;
        }
        div{
            background : lightcyan;
            padding:10px;
            width:500px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>함수 part.2</h1>

    <h3>함수의 결과 반환 : return</h3>
    <button onclick="test1();">실행 확인</button>
    <!-- div#d1 -->
    <div id="d1"></div>

    <script>
        function test1(){
            var div = document.querySelector('#d1');

            div.innerHTML += sum2Num(10, 20) + "<br>";
        }

        function sum2Num(a, b){
            return a + b;
        }
    </script>

    <hr>

    <h3>함수 중첩 사용</h3>

    피타고라스 공식 : a^2 + b^2  = c^2 <br>  <!-- input:number -->
    삼각형 밑변의 길이 (a) : <input type="number" id="wid"
                                    min="1" max="10"> <br>
    삼각형 높이의 길이 (b) : <input type="number" id="hei"
                                    min="1" max="10"> <br>
    <button onclick="test2()">빗변 길이 구하기</button>

    <div id="d2"></div>

    <script>
        function test2(){
            var w = Number(document.getElementById('wid').value);
            var h = Number(document.getElementById('hei').value);

            document.getElementById('d2').innerHTML +=
                    '빗변 길이 : ' + logic(w, h) + '<br>';
        }

        // 빗변 전용 함수
        function logic(a, b){
            
            // 함수 안에 함수
            function pow(num){
                return num*num;
            }
            // a^2 + b^2 = c^2
            return Math.sqrt(pow(a) + pow(b));
        }
    </script>

    <h3>재귀 함수(recursive function)</h3>
    <p>
        5! : 5 * 4 * 3 * 2 * 1
    </p>

    <input type="number" id="fac">

    &nbsp;&nbsp;

    <button onclick="test3();">실행 확인</button>

    <div id="d3"></div>

    <script>
        function test3(){
            var num = Number(document.getElementById('fac').value);
            var div = document.querySelector('#d3');

            div.innerHTML  = factorial_for(num) +"<br><hr>";
            div.innerHTML += factorial_re(num);
        }

        function factorial_for( n ) {
            if( n > 10) {
                return "숫자가 너무 큽니다.";
            } else {
                var sum = 1;
                for(var i = 1 ; i <= n ; i++){
                    sum *= i; // 1 * 2 * 3 * 4 * 5
                }
                return sum;
            }
        }

        function factorial_re( n ) {
            if( n > 10) {
                return "숫자가 너무 큽니다.";
            } else {
                if( n == 1) return 1;
                else {
                    return n * factorial_re( n - 1 );
                }
            }
        }
    </script>

    <br>

    <h3>함수를 매개변수로 전달하기</h3>
    <h4>특정 이름의 함수 전달</h4>
    <button onclick="callFn(testFunc);">실행 확인</button>

    <script>
        function testFunc( i ) {
            switch(i){
                case 1 : 
                    alert("보이는 ARS 서비스");
                    break;
                case 2 :
                    alert("주문/배송 문의");
                    break;
                case 3 : 
                    alert("상품 환불 문의");
                    break;
            }
        }

        function callFn( fn ) {
            var answer = Number(window.prompt('1/2/3 중 하나를 입력하세요'));

            fn(answer);
        }
    </script>


    <h4>익명 함수 전달</h4>

    <script>
        function callFn2(fn){
            alert('Hello');

            for(var i = 0 ; i < 10 ; i++){
                fn(i);
            }
        }
        function check(i) {
            console.log(i);
        }
        callFn2(function(i){ 
            console.log(i + '번째 실행 확인!') 
        });
    </script>

    <br><br>
    
    <a href="00_index.html">인덱스로 돌아가기....</a>

    
    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>