<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JS 객체 배열</title>
    <style>
        div{
            width : 500px;
            height: auto;
            padding : 10px;
            background : honeydew;
        }
    </style>
</head>
<body>
    <h1>JS 객체 배열</h1>
    
    <h3>객체와 배열</h3>
    <button onclick="test1();">실행 확인</button>

    <div id="area1"></div>

    <script>

        var arrayNames = []; // 이름들
        var arrayScores = []; // 평균들
        var arrayTotalScores = []; // 총점들

        function test1(){
            var student0 = {
                name : "홍길동",
                java : 60,
                oracle : 70,
                html : 80,
                css : 90
            }
            var student1 = {
                name : "김길동",
                java : 80,
                oracle : 60,
                html : 50,
                css : 60
            }
            var student2 = {
                name : "고길동",
                java : 60,
                oracle : 60,
                html : 60,
                css : 60
            }
            var student3 = {
                name : "박길동",
                java : 70,
                oracle : 70,
                html : 70,
                css : 70
            }
            var student4 = {
                name : "최길동",
                java : 80,
                oracle : 80,
                html : 80,
                css : 80
            }
        
            var array = [];

            array.push(student0);
            array.push(student1);
            array.push(student2);
            array.push(student3);
            array.push(student4);
        
            console.log(array);
            
            for(var i in array){ // forEach 문
                array[i].getSum = function(){
                    return this.java + this.oracle + this.html + this.css;
                }

                array[i]['getAvg'] = function(){
                    return this.getSum() / 4;
                }
            }

            var area1 = document.getElementById('area1');
            // for in과 with 사용하여
            // 이름 : ooo, 총점 : 000, 평균 : 000
            for(var i in array){
                with(array[i]){
                    area1.innerHTML += '이름 : ' + name
                                    + ', 총점 : ' + getSum()
                                    + ', 평균 : ' + getAvg() 
                                    + "<br>";
                    
                    arrayNames.push(name);
                    arrayScores.push(getAvg());
                    arrayTotalScores.push(getSum());
                }
            }

            console.log(arrayNames);
            console.log(arrayScores);
            console.log(arrayTotalScores);
        }
    </script>

    <hr>
    
    <h3>객체 배열 응용- 시각화</h3>
    <button onclick="showChart();">확인하기</button>
    <canvas id="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        function showChart(){
            var ctx = document.getElementById('myChart').getContext('2d');
            var myBarChart = new Chart(ctx, {
                type : 'bar',
                data : {
                    labels : arrayNames,
                    datasets:[{
                        label: "학생 평균 점수표",
                        data : arrayScores,
                        backgroundColor:["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)"],
                        borderColor:["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)"],
                        borderWidth:1
                    },{
                        label: "학생 총점 점수표",
                        data : arrayTotalScores,
                        backgroundColor:["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)"],
                        borderColor:["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)"],
                        borderWidth:1
                    }]},
                options:{
                    scales: { 
                        yAxes :[{ ticks:{ beginAtZero : true } }]
                    }
                }
            });
        }
    </script>

    <br><br>
    <a href="00_index.html">인덱스로 돌아가기</a>
    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>