<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JS 내장 객체</title>
</head>
<body>
    <h1>JS 내장 객체</h1>

    <!-- (h3+hr)*3 -->
    <h3>Object 인스턴트</h3>
    <button onclick="test1();">실행 확인</button>
    <script>
        function test1(){
            var obj1 = new Object(); 
            var obj2 = {}; // short hand

            console.log(obj1);
            console.log(obj2);
        }
    </script>

    <h3>생성자 만들기</h3>
    <button onclick="test2();">실행 확인</button>

    <script>
        // JS 생성자
        function Book(t, a, p){
            // 1. 필드 속성 정의
            this.__title = t;
            this.__author = a;
            this.__price = p;

            this.title = function(){
                return this.__title;
            }
        }

        function test2(){
            var myBook = new Book('어린왕자', '생텍쥐페리', 15000);

            console.log(myBook);
            console.log(myBook.title());
        }
    </script>

    <hr>

    <h3>Number 인스턴트</h3>

    <button onclick="test3();">실행 확인</button>

    <script>
        function test3(){
            // toFixed() : 특정 숫자를 고정 소숫점으로 나타내는 함수

            var num1 = 123456;
            var num2 = 123.456;

            console.log("num1.toFixed(4) : " + num1.toFixed(4));
            console.log("num2.toFixed(4) : " + num2.toFixed(4));
            console.log("num2.toFixed(2) : " + num2.toFixed(2));
            // 반올림 처리 제공
        }

    </script>

    <hr>
    
    <h3>Date 인스턴트</h3>
    <button onclick="test4();">실행 확인</button>
    <div id="dateTest"></div>

    <script>
        function test4(){
            var d1 = new Date();

            console.log(d1);

            // 특정 날짜 구하기
            var d2 = new Date("September 3, 2021 14:01:01");
            var d3 = new Date(2021, 9 - 1, 3, 14, 11, 01);

            console.log(d2);
            console.log(d3);

            // 날짜 추출하기
            // getFullYear() / getMonth() / getDate()
            // getHour() / getMinutes() / getSeconds()

            var div = document.getElementById('dateTest');
            div.innerHTML  = d1 + "<br>";
            div.innerHTML += d2 + "<br>";
            div.innerHTML += d3 + "<br>";

            div.innerHTML += 'getFullYear() : ' + d1.getFullYear() + "<br>";
            // 천 분의 1초 기준 시간
            div.innerHTML += 'getTime() : ' + d1.getTime() + "<br>";
        }
    </script>
    <hr>

    <br><br>

    <a href="00_index.html">인덱스로 돌아가기</a>
    
    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>