<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>window 객체(BOM)</title>
    <style>
        div {
            width : 500px;
            height : auto;
            background : khaki;
            padding : 10px;
        }
    </style>
</head>
<body>
    <h1>window 객체(BOM)</h1>
    <p>
        window 객체는 자바스크립트가 가지는 브라우저 최상위 객체이다.<br>
        크게 BOM과 DOM으로 나누어 진다. <br>
        BOM (Browser Object Model) : <br>
            location 객체, navigator 객체, history 객체, screen 객체 . . . <br>
        DOM (Document Object Model) : <br>
            document 객체, 그 이하의 모든 요소들...
    </p>

    <h3>새 창 열기</h3>
    <button onclick="test1();">네이버로 가기</button>
    &nbsp;&nbsp;
    <button onclick="test2();">구글로 가기</button>

    <script>
        // 새 창을 여는 함수로,
        // 반드시 사용 전 옵션에 대한 호환성 여부를 확인해야 한다.
        function test1(){
            window.open('https://www.naver.com');
        }

        function test2(){
            window.open('https://www.google.com', '_blank', 'location=0');
        }
    </script>

    <hr>

    <h3>window 객체와 timer 함수</h3>
    <h4>setTimeout()</h4>
    <button onclick="test3();">실행 확인</button>
    <div id="timeoutTest">
        준비~!
    </div>

    <script>
        function test3(){ // 기능, 제한 시간
            window.setTimeout(function(){ 
                document.getElementById('timeoutTest')
                        .innerHTML = '변경 확인';
             }, 3000);
        }
    </script>

    <h4>setInterval()</h4>
    <button onclick="test4();">실행 확인</button>
    <div id="clock"></div>

    <script>
        function test4(){
            window.setInterval(function(){
                var time = new Date();
                var clock = document.getElementById('clock');

                clock.innerHTML = time.getHours() + ":"
                                + time.getMinutes() + ":"
                                + time.getSeconds();
            }, 1000);
        }
    </script>

    <h4>clearInterval()</h4>
    <button onclick="test5();">실행 확인</button>
    <div id="cnt">10</div>
    <script>
        function test5(){
            var count = 9;
            var cnt = document.getElementById('cnt');

            var intervalCount = window.setInterval(function(){
                
                cnt.innerHTML = count--;

            }, 1000);

            var timeoutCheck = window.setTimeout(function(){ 
                clearInterval(intervalCount);
                cnt.innerHTML = '타임 오버!';
            }, 10000);
        }
    </script>

    <br>

    <hr>

    <h3>screen 객체</h3>
    <button onclick="testObj1();">실행 확인</button>

    <script>
        function testObj1(){
            // console.log(screen);
            var w = screen.width; // 화면 가로길이
            var h = screen.height; // 화면 세로길이

            var child = window.open("", "", "width=" + w + ", height=" + h);

            child.resizeTo(500, 450);
            /*
            setInterval(function(){
                child.resizeBy(-25, -10);
                child.moveBy(45, 20);
            }, 500);
            */
        }
    </script>

    <hr>

    <h3>location 객체</h3>
    <button onclick="testObj2();">실행 확인</button>
    <script>
        function testObj2(){
            console.log(location);
        }
    </script>

    <h4>location 사용하여 다른 페이지 이동하기</h4>
    <button onclick="testLoc1();">실행 확인</button>
    &nbsp;&nbsp;&nbsp;
    <button onclick="testLoc2();">실행 확인</button>

    <script>
        function testLoc1(){
            location.href = 'https://www.naver.com';
        }
        function testLoc2(){
            location = 'https://www.google.com';
        }
    </script>

    <br><br>

    <hr>

    <h3>history 객체</h3>

    <button onclick="console.log(history);">실행 확인</button>
    <br><br>

    <button onclick="history.back();">뒤로 가기</button>
    &nbsp;&nbsp;
    <button onclick="history.forward();">앞으로 가기</button>

    <br><br>

    <button onclick="history.go(-2)">뒤로 2칸 이동</button>
    &nbsp;&nbsp;
    <button onclick="history.go(2)">앞으로 2칸 이동</button>
    &nbsp;&nbsp;
    <button onclick="history.go()">새로고침</button>

    <br>

    <hr>

    <h3>Navigator 객체</h3>
    
    <button onclick="console.log(navigator);">객체 확인</button>

    <hr>

    <h3>Event 객체</h3>

    <button onclick="testEv(event);">실행 확인</button>

    <script>
        function testEv(event){
            console.log(event);
        }
    </script>


    <br><br><br><br>
    
    <a href="00_index.html">인덱스로 돌아가기</a>
    
    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>