<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <form action="test/join" method="post" onsubmit="validate()">
        이름 : <input type="text" id="username" name="username" required><br>
        비밀번호 입력 : <input type="password" id="userpwd" name="userpwd" required><br>
        비밀번호 확인 : <input type="password" id="userpwd2" name="userpwd2" required><br>
        <input type="submit" id="btn" value="전송">
    </form>

    <button class="btn_submit" onclick="changeColor">hello</button>
    
    <script>
        function changeColor(){
            document.getElementsByClassName('btn_submit')


        }
        
    </script>



    <a href="00_index.html">return</a>
</body>
</html>