<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>선택자 우선순위</title>
    <style>
        .test1 {
            /* background : green; */
            background : green !important;
            color : yellow;
        }

        /* div 태그 */
        div {
            width : 100px;
            height: 100px;
            background : gold;
        }

        /* * { background : black; } */

        #test1 {
            background : blue;
            color : white;
        }

    </style>
</head>
<body>
    <h1>선택자 우선순위</h1>

    <p>
        CSS는 기본적으로 선택자가 동일할 경우, <br>
        위에서 아래로 스타일을 적용한다.<br>
        이때 만약 같은 태그 속성의 스타일을 재선언할 경우<br>
        나중에 선언된 스타일로 덮어씌워진다. <br>
        <br>
        단, CSS의 선언 종류가 다를 경우 아래의 기준으로<br>
        우선순위를 적용하게 된다.
        <br>
        <br>
        !important > 인라인 스타일 > 아이디 선택자
         > 클래스 선택자 > 태그 선택자
    </p>

    <!-- div#test$.test${ 우선순위 테스트 $ }*2 -->
    <div id="test1" style="background : tomato; color : snow;"
         class="test1"> 우선순위 테스트 1 </div>
    <div id="test2" class="test2"> 우선순위 테스트 2 </div>


    <br><br>

    <a href="00_index.html"> 인덱스로 돌아가기... </a>

    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>