<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>문단 관련 스타일</title>
    <style>
        #test1{
            direction : ltr;
        }

        #test2 {
            direction : rtl;
        }

        #align1 { text-align : left; }
        #align2 { text-align : right; }
        #align3 { text-align : center; }
        #align4 { text-align : justify; }

        
    </style>
</head>
<body>
    <h1>문단 관련 스타일</h1>

    <h3>direction : 정렬 방향 표현</h3>

    <h4>왼쪽 -> 오른쪽 (ltr)</h4>
    <p id="test1">
        원빈, 현빈, 전지현, 김영철, 최다니엘
    </p>

    <h4>오른쪽 -> 왼쪽 (rtl)</h4>
    <p id="test2">
        원빈, 현빈, 전지현, 김영철, 최다니엘
    </p>

    <h3>text-align : 문단 글자 정렬</h3>
    <!-- left | right | center | justify -->

    <!-- (h4+p#align$)*4 -->

    <h4>왼쪽 정렬</h4>
    <p id="align1">
        대통령은 조약을 체결·비준하고, 외교사절을 신임·접수 또는 파견하며, 선전포고와 강화를 한다. 국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다. 국가는 평생교육을 진흥하여야 한다. 국가원로자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 선거와 국민투표의 공정한 관리 및 정당에 관한 사무를 처리하기 위하여 선거관리위원회를 둔다.
    </p>

    <h4>오른쪽 정렬</h4>
    <p id="align2">
        대통령은 조약을 체결·비준하고, 외교사절을 신임·접수 또는 파견하며, 선전포고와 강화를 한다. 국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다. 국가는 평생교육을 진흥하여야 한다. 국가원로자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 선거와 국민투표의 공정한 관리 및 정당에 관한 사무를 처리하기 위하여 선거관리위원회를 둔다.
    </p>

    <h4>가운데 정렬</h4>
    <p id="align3">
        대통령은 조약을 체결·비준하고, 외교사절을 신임·접수 또는 파견하며, 선전포고와 강화를 한다. 국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다. 국가는 평생교육을 진흥하여야 한다. 국가원로자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 선거와 국민투표의 공정한 관리 및 정당에 관한 사무를 처리하기 위하여 선거관리위원회를 둔다.
    </p>

    <h4>양쪽 정렬</h4>
    <p id="align4">
        대통령은 조약을 체결·비준하고, 외교사절을 신임·접수 또는 파견하며, 선전포고와 강화를 한다. 국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다. 국가는 평생교육을 진흥하여야 한다. 국가원로자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 선거와 국민투표의 공정한 관리 및 정당에 관한 사무를 처리하기 위하여 선거관리위원회를 둔다.
    </p>


    <br><br><br><br>
    <a href="00_index.html"> 인덱스로 돌아가기... </a>
    <br><br><br><br><br><br><br><br><br><br>

</body>
</html>