<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카드형태 만들기</title>
    <link rel="stylesheet" href="../resources/css/cardstyle.css">
    <!--
        외부 스타일 설정 참조 방법
        link 태그를 사용하여 외부 스타일을 가져올 수 있다.
        여러 스타일을 외부에서 가져올 경우 우선순위를 고려하여
        선언의 순서를 지정해 주어야한다.
    -->
</head>
<body>
    <h1>CSS 활용 1 : 카드형태 만들기</h1>

    <div class="card rotate1">
        <img src="../resources/images/city1.PNG" alt="도시사진">
        <p>
            오늘은 비가 많이오네요...<br>
            사진속은 너무 밝습니다...<br>
            #css재밌땅..#강사가뭐라는지모르겠다..
        </p>
    </div>
    <div class="card rotate2">
        <img src="../resources/images/tower1.PNG" alt="타워사진">
        <p>
            여러분 아침드셨나요...<br>
            저는 아직 못먹었습니다...<br>
            #css재밌땅..#강사가뭐라는지모르겠다..
        </p>
    </div>
    <div class="card rotate3">
        <img src="../resources/images/flower1.PNG" alt="벚꽃사진">
        <p>
            올해 꽃구경은 다녀오셨나요...<br>
            저는 몸살이나서 못갔습니다...<br>
            #css재밌땅..#강사가뭐라는지모르겠다..
        </p>
    </div>
    <div class="card rotate4">
        <img src="../resources/images/river1.PNG" alt="강사진">
        <p>
            더이상 쓸말이 없어요...<br>
            여러분은 뭐라고 적으셨나요...<br>
            #css재밌땅..#강사가뭐라는지모르겠다..
        </p>
    </div>
    


<br><br><br><br><br><br><br><br><br><br><br>
<a href="00_index.html">첫 페이지로 돌아가기!</a>
</body>
</html>