<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사진 게시판(꽃 밭)</title>
    <link rel="stylesheet" href="../resources/css/examplestyle2.css">
</head>
<body>
    <h1>CSS 활용2 : 사진 게시판 UI</h1>

    <div id="gallery">

        <ul>
            <li>
                <img src="../resources/images/flower1.PNG" class = "small1" alt="첫번째 꽃" width="120px" height="90px">
                <img src="../resources/images/flower1.PNG" class = "pic" alt="첫번째 꽃">
            </li>
            <li>
                <img src="../resources/images/flower2.PNG" class = "small" alt="두번째 꽃" width="120px" height="90px">
                <img src="../resources/images/flower2.PNG" class = "pic" alt="두번째 꽃">
            </li>
            <li>
                <img src="../resources/images/flower3.PNG" class = "small" alt="세번째 꽃" width="120px" height="90px">
                <img src="../resources/images/flower3.PNG" class = "pic" alt="세번째 꽃">
            </li>
            <li>
                <img src="../resources/images/flower4.PNG" class = "small" alt="네번째 꽃" width="120px" height="90px">
                <img src="../resources/images/flower4.PNG" class = "pic" alt="네번째 꽃">
            </li>
            <li>
                <img src="../resources/images/flower5.PNG" class = "small" alt="다섯번째 꽃" width="120px" height="90px">
                <img src="../resources/images/flower5.PNG" class = "pic" alt="다섯번째 꽃">
            </li>
            <li>
                <img src="../resources/images/forest1.PNG" class = "small"                 alt="숲" width="120px" height="90px">
                <img src="../resources/images/forest1.PNG" class = "pic"                 alt="숲">
            </li>
        </ul>
    </div>
</body>






<br><br><br><br><br><br><br><br><br><br><br>
<a href="00_index.html">첫 페이지로 돌아가기!</a>
</html>