<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유정훈 강사님의 꽃밭</title>
    <link rel="stylesheet" href="../resources/css/examplestyle3.css">
</head>
<body>
    <header class="main-header">
        <div class="logo-text">유정훈 강사님이 키우신 꽃들이예요!</div>
    </header>

    <main class="main-content">
        <ul class="thumbnail-list">
            <li class="thumbnail-item">
                <img class="thumbnail-image" src="../resources/images/flower1.PNG" alt="첫번째 꽃">
                <span class="thumbnail-title">분홍꽃</span>
            </li>
        </ul>
        <ul class="thumbnail-list">
            <li class="thumbnail-item">
                <img class="thumbnail-image" src="../resources/images/flower2.PNG" alt="두번째 꽃">
                <span class="thumbnail-title">하얀꽃</span>
            </li>
        </ul>
        <ul class="thumbnail-list">
            <li class="thumbnail-item">
                <img class="thumbnail-image" src="../resources/images/flower3.PNG" alt="세번째 꽃">
                <span class="thumbnail-title">노란꽃</span>
            </li>
        </ul>
        <ul class="thumbnail-list">
            <li class="thumbnail-item">
                <img class="thumbnail-image" src="../resources/images/flower4.PNG" alt="네번째 꽃">
                <span class="thumbnail-title">민들레</span>
            </li>
        </ul>
        <ul class="thumbnail-list">
            <li class="thumbnail-item">
                <img class="thumbnail-image" src="../resources/images/flower5.PNG" alt="다섯번째 꽃">
                <span class="thumbnail-title">보라꽃</span>
            </li>
        </ul>
    </main>
 
</body>
</html>