<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>세로 탭 메뉴 만들기</title>
    <link rel="stylesheet" href="../resources/css/examplestyle5.css">
</head>
<body>
    <h1>CSS 활용 : 세로 탭 메뉴 만들기</h1>
    <ul class="nav">
        <li>
            <a href="00_index.html">Home</a>
        </li>
        <li>
            <a href="#">공지사항</a>
        </li>
        <li>
            게시판
            <ul>
                <li>
                    <a href="17_CSSexample1.html">카드 게시판</a>
                </li>
                <li>
                    <a href="18_CSSexample2.html">사진 게시판</a>
                </li>
                <li>
                    <a href="19_CSSexample3.html">정훈쌤의 꽃밭</a>
                </li>
                <li>
                    <a href="20_CSSexample4.html">가로 탭 메뉴</a>
                </li>
            </ul>
        </li>
        <li>
            마이페이지
            <ul>
                <li>
                    <a href="#">회원 정보 수정</a>
                </li>
                <li>
                    <a href="#">회원 주문 조회</a>
                </li>
                <li>
                    <a href="#">회원 탈퇴</a>
                </li>
            </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
    </ul>




</body>
</html>