<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아코디언!</title>
    <link rel="stylesheet" href="../resources/css/examplestyle6.css">
</head>
<body>
    <h1>CSS 예제 : 아코디언 메뉴 만들기</h1>

    <div class="menu" id="part1">
        <h2>
            <a href="#part1">
                [로X와X] 로X와X 멤버십 가입을 해지하고 싶어요.
            </a>
        </h2>
        <p>
            아니요, X켓와X는 한번 가입하시면
            해지가 불가능합니다. 그 대신 다음달
            요금을 조금 저렴하게 해드리겠습니다.
        </p>
    </div>
    <div class="menu" id="part2">
        <h2>
            <a href="#part2">
                [기프트카드] XX 기프트카드는 무엇인가요?
            </a>
        </h2>
        <p>
            기프트카드는 기프트카드입니다.
            이제 곧 추석이 다가오는데 가까운 가족분들에게 선물하세요.
        </p>
    </div>
    <div class="menu" id="part3">
        <h2>
            <a href="#part3">
                [로XX우] 로XX우 멤버십 가입하려는데 어쩌고저쩌고?
            </a>
        </h2>
        <p>
            쿠X 간단 결제 수단인 쿠XX에 결제수단을 등록해야합니다
            미등록 외국인으로 인증이 불가한 경우
            다른 아이디 찾는 방법 :
            다른 아이디 찾기를 통해 가입된 로그인 후 본인인증하세요
            상품 구매 시 결제 수단은 자유롭게 선택 가능합니다.
            월회비는 비쌉니다.
            쿠X 간단 결제 수단인 쿠XX에 결제수단을 등록해야합니다
            미등록 외국인으로 인증이 불가한 경우
            다른 아이디 찾는 방법 :
            다른 아이디 찾기를 통해 가입된 로그인 후 본인인증하세요
            상품 구매 시 결제 수단은 자유롭게 선택 가능합니다.
            월회비는 비쌉니다.
        </p>
    </div>




    
</body>
</html>