@charset "utf-8";
@import url(reset.css);

		*{margin:0; padding:0;}
		li{list-style:none;}
		img, fieldset{border:0; vertical-align:middle;}
		a{color:black; text-decoration:none;}
		address, em{font-style:normal;}
		
		body{font-family:arial; line-height:160%;}
		
		#wrapper{width:1200px; margin:0 auto;}
		
		/* header */
		#header{width:1200px; height:700px; }
		#header h1{ float:left; padding:10px 50px 0 30px;}
		#header h1 img{width:130px;}
		#gnb { padding:40px; position:relative; height:70px; }	
			#gnb>li { float:left;  padding-right:30px; width:150px; font-size:20px;}
			#gnb>li:nth-of-type(5){padding-left:50px;}
				#gnb li ul { display:none; /* */ position:absolute; left:0; top:80px; }
				#gnb>li a:hover{color:#79b11a; font-weight:bold; text-shadow:2px 2px 2px #fff;}
				#gnb li.m1 ul { left:190px; padding:20px;}
				#gnb li.m2 ul { left:330px; padding:20px;}
				#gnb li.m3 ul { left:530px; padding:20px; }
				#gnb li.m4 ul { left:740px; padding:20px;}
				#gnb li.m5 ul { left:1000px; padding:20px;}
				#gnb li ul li { display:block; padding-top:5px; }
				#gnb li ul li a{color:black;}
				#gnb li:hover ul { display:block;  background-color:rgba(255, 255, 255, 0.5); text-align:center;}
				
			
		/* contents */
		#contents{}
			#mainTop { overflow:hidden; position:relative; top:40px; clear:both; width:1200px; height:600px; margin-top:50px; padding-top:50px; }
			.slide { width:1200px; height:2400px; }
				.slide img{width:1200px;}
				.slide li { position:absolute; top:0; left:0; }
			.About{margin-top:100px; font-size:20px;}
			.About2 h2{color:#79b11a; padding:0 0 10px 50px;}
			.About2 p{padding-left:50px; padding-bottom:20px; line-height:180%;}
			.About img{width:530px; margin:0 20px 20px 50px; border:3px solid #79b11a; padding:5px;}
			.About img:nth-of-type(2){margin-left:0;}
			.About img:nth-of-type(4){margin-left:0;}
			.About img{transition:all 1s;}
			.About img:hover{transform:scale(1.1);}
		
		
		.Room{ font-size:20px; padding-top:80px;}
		.Room h2{color:#79b11a; padding:0 0 10px 50px;}
		.Room p{padding-left:50px; padding-bottom:40px; line-height:180%; }
		.Room h3 a{color:#79b11a; padding:0 0 0 50px;  }
		.Room ul li img{width:350px; height:380px; float:left; margin-top:20px; margin-left:50px;}
		.Room ul li:nth-of-type(2) img{margin-left:25px;}
		.Room ul li:nth-of-type(3) img{margin-left:25px;}
		
			.Room span{ position:absolute; left:40px; top:190px; transition:all 1s; opacity:0; padding-top:50px; width:350px; height:330px;  background-color:rgba(255, 255, 255, 0.5);}
			.Room span li{text-align:center; padding-top:30px;}
            .Room span li:nth-of-type(1){margin:51px 0; font-size:50px;}
            .Room span li:nth-of-type(2){margin:51px 0;}
           
            .Room .sweet{left:402px; top:1974px;}
            .Room .echo{left:777px; top:1974px;}
            .Room .gallery{left:1152px; top:1974px;}
            .Room span:hover{opacity:1;}
			
			.More{clear:both; padding-top:80px; position:relative;}
			.More ul{width:1110px; height:400px; background:#79b11a; margin-left:50px;}
			.More .travel{border-bottom:1px solid #fff;}
			.More img{width:555px; height:400px; }
				.travel li{position:absolute; top:250px; left:670px; color:#fff; font-size:50px;}
				.travel li:nth-of-type(2){top:330px; left:940px; color:green; font-size:20px;}
				.travel li:nth-of-type(2) a{color:green;}
				
				.service li{position:absolute; top:630px; left:670px; color:#fff; font-size:50px;}
				.service li:nth-of-type(2){top:710px; left:940px; color:green; font-size:20px;}
				.service li:nth-of-type(2) a{color:green;}
				
				.Map{padding:80px 50px 50px 50px;}
				.Map h2{color:#79b11a; font-size:30px; padding-bottom:30px;}
				.Map img{width:1000px; height:500px; margin-left:60px; border:3px solid #79b11a; padding:5px;}
		
		/* footer */
		#footer{clear:both; border-top:2px solid green;} 
		address{float:left; padding-top:30px;}
		#footer h1{float:right; padding-top:30px;}
		
		
		