@charset "utf-8";

* { margin:0; padding:0; }
li { list-style-type:none; }
img, fieldset { border:0; }
table { border-collapse:collapse; }
address, em { font-style:normal; }
img, input { border:0; vertical-align:middle; }
a { text-decoration:none; color:#000; }

body { font:16px/1.6 'Nanum Gothic'; }

#wrapper { width:1200px; margin:0 auto; }

	/* popUp */
	.popUp { width:450px; height:520px; position:absolute; left:0; right:0; top:20%; bottom:0; margin:auto; background:url(../images/popup.jpg) center; border:3px solid #fff; box-shadow:2px 2px 8px #000; box-sizing:border-box; z-index:100; }
			.popUp button { display:inline; position:absolute; left:50%; top:85%; margin-left:-45px; color:#fff; background:rgba(0,0,0,0.3); padding:10px 30px; }
			
	/* header */
	#header { }
		#header h1 { float:left; margin:25px 0 0 30px; width:100px; }
		#header h1 img { width:170px; }

		#gnb { float:right; margin:35px 100px 0 0; }
			#gnb>li { position:relative; float:left; font-size:20px; font-weight:bold; }	/* 주메뉴 */
				#gnb>li:hover>a { color:#79b11a; font-weight:bold; text-shadow:2px 2px 2px gray;}
				
			#gnb a { display:block; width:150px; padding:5px 0; text-align:center; transition:all 0.5s; }

			#gnb>li ul.sub { display:none; position:absolute; width:150px; margin-top:40px; background:rgba(255,255,255,0.5); z-index:100; }	/* 하위 메뉴 */					
				#gnb>li ul.sub li { font-size:16px; text-align:center; line-height:29px; width:150px; padding:5px 0; height:40px; }					
				#gnb>li ul.sub a { display:block; width:150px; padding:5px 0; transition:all 0.5s; }
				#gnb>li ul.sub a:hover { background:#82b650; color:#fff; }
	
	/* contents */
	#contents { margin:0px auto; }	
		#contents h2 { color:#8770be; font-size:30px; font-weight:bold; text-align:center; margin-bottom:20px; }
		 .bar { width:80px; height:100px; margin:0 auto; border-top:5px solid #aaa; }
		 
		#mainTop { overflow:hidden; position:relative; top:40px; clear:both; width:1200px; height:600px; margin-top:50px; padding-top:50px; }
			.slide { width:1200px; height:2400px; }
				.slide img{width:1200px;}
				.slide li { position:absolute; top:0; left:0; }
			
			.mainTxt { position:absolute; left:49%; top:47%; margin-left:-150px; margin-top:-130px; color:#fff; background:rgba(0,0,0,0.3); padding:50px 40px; font-size:40px; border:5px solid #fff; box-sizing:border-box; }	
		
		#quick { overflow:hidden; margin-top:100px; }
			#quick ul { margin:0 auto; width:800px; margin:0 auto; text-align:center; }
				#quick li { float:left; margin-right:100px; }
				#quick li:nth-child(3) { margin-right:0; }
					#quick li img { width:200px; }
					#quick li span { display:block; font-size:20px; font-weight:bold; margin-top:20px; }
										
		#rooms { overflow:hidden; margin-top:100px; }
			#rooms ul { width:1000px; margin:0 auto; padding-left:50px; }
				#rooms li { position:relative; width:450px; float:left; text-align:center; padding-right:50px; padding-bottom:50px; }
				#rooms li:nth-child(1) { background:url(../images/room1.png) no-repeat; background-size:450px 250px; }	
				#rooms li:nth-child(2) { padding-right:0; }				
				#rooms li:nth-child(4) { padding-right:0; }				
					#rooms li img { width:450px; height:250px; box-shadow:0px 0px 10px #000; } 
					
				#rooms li p { display:none; }					
					#rooms li:hover p { display:block; color:#fff; font-weight:bold; font-size:30px; position:absolute; left:0; top:0; width:450px; height:250px; background:rgba(0,0,0,0.3); padding-top:90px; box-sizing:border-box; }	
					#rooms li:hover span { font-size:20px; }	
							
		#tour { clear:both; margin-top:50px; padding:50px 0 100px 0; background: url(../images/tourbg.jpg) no-repeat;  }
			#tour ul {}
				#tour li img { width:350px; height:200px; transform:scale(1); transition:all 0.5s; }
				#tour li img:hover { transform:scale(1.1); z-index:100; } 
				
				.sea li { display:inline; width:350px; padding-right:20px; padding-bottom:20px; }
				.sea li:nth-child(1) { padding-left:50px; }
				.sea li:nth-child(3) { padding-right:0; }
				.sea li img { border:5px solid #70b6d7; box-sizing:border-box; }
				
				.forest { margin-left:240px; margin-top:20px; }	
					.forest li { display:inline; width:350px; padding-right:20px; }
					.forset li:nth-child(2) { padding-left:0; }
				.forest li img { border:5px solid #7ab439; box-sizing:border-box; }
				
		#terms { margin-top:100px; }
			.label { width:500px; height:420px; margin:0 auto; padding-left:100px; border-top:10px solid #fc9a1d; border-bottom:10px solid #fc9a1d; }
			.label img { width:40px; }
			#terms li.bold { font-weight:bold; }
			
			.time { clear:both; padding-top:20px; }
				.time li { float:left; padding-right:40px; padding-bottom:20px; border-bottom:5px solid #fc9a1d; }
				.time li:nth-child(3) { padding-right:20px; }
				
			.refund { clear:both; padding-top:20px; }
				.refund li { float:left; padding-right:40px; }	
					
			.peak { clear:both; padding-top:20px; }
				.peak li { float:left; padding-right:40px; padding-top:20px;  padding-bottom:20px; border-top:5px solid #fc9a1d; border-bottom:5px solid #fc9a1d; }	
		
			.guide {clear:both; padding-top:20px; }
				.guide li { float:left; padding-right:20px; padding-bottom:20px; text-align:center; }
				.guide li:nth-child(6) { padding-right:0; }
				.guide li span { display:block; }
		
		#map { margin-top:100px; }
			.mapimg img { width:990px; height:500px; box-shadow:0px 0px 5px #000; }
			.add { text-align:center; margin-top:30px; }
			.add img { width:30px; margin-right:10px; }
		
	/* footer */
	#footer { clear:both; overflow:hidden; margin-top:100px; color:#fff; background:#999; text-align:center; padding:20px 0; font-size:16px; line-height:1.6; }
		.first li { display:inline; }
			.first li a { color:#fff; margin:0 5px; }
			.first li a:hover { color:#000; }
		
		address { margin:10px 0; }
		
		.sns { margin-bottom:10px; }
			.sns li { display:inline; margin-right:10px; }
				.sns li img { width:40px; }