@charset "utf-8";
@import url(reset.css);

		*{margin:0; padding:0;}
		li{list-style:none;}
		img, fieldset{border:0; vertical-align:middle;}
		a{ color:black; text-decoration:none;}
		address, em{font-style:normal;}
		
		body{font-family:arial; line-height:160%;}
		
		#wrapper{width:1200px; margin:0 auto;}
		
		/* header */
		#header { }
		#header h1 { float:left; margin:25px 0 0 30px; width:100px; }
		#header h1 img { width:170px; }

		#gnb { float:left; margin:35px 0 0 160px; }
			#gnb>li { position:relative; float:left; font-size:20px; font-weight:bold; }	/* 주메뉴 */
			#gnb>li:hover>a { color:#79b11a; font-weight:bold; text-shadow:2px 2px 2px gray;}
				
			#gnb a { display:block; width:150px; padding:5px 0; text-align:center; transition:all 0.5s; }

			#gnb>li ul.sub { display:none; position:absolute; width:150px; margin-top:40px; background:rgba(255,255,255,0.5); z-index:100; }	/* 하위 메뉴 */					
				#gnb>li ul.sub li { font-size:16px; text-align:center; line-height:29px; width:150px; padding:5px 0; height:40px; }					
				#gnb>li ul.sub a { display:block; width:150px; padding:5px 0; transition:all 0.5s; }
				#gnb>li ul.sub a:hover { background:#82b650; color:#fff; }
	
		/* popUp */
			.popUp { width:450px; height:520px; position:absolute; left:0; right:0; top:20%; bottom:0; margin:auto; background:url(../images/pop.jpg) no-repeat; border:2px solid #fff; box-shadow:2px 2px 8px #000; box-sizing:border-box; z-index:100; }
			.popUp button { display:inline; position:absolute; left:100%; top:5%; margin-left:-45px; color:black; font-size:30px;}
					
			
		/* contents */
		#contents{}
			#mainTop { overflow:hidden; position:relative; top:40px; clear:both; width:1200px; height:600px; margin-top:50px; padding-top:50px; }
			.slide { width:1200px; height:2400px; }
				.slide img{width:1200px;}
				.slide li { position:absolute; top:0; left:0; }
						
		#rooms { overflow:hidden; margin-top:100px; }
		#rooms h2{color:#79b11a; font-size:30px;}
			#rooms ul { width:1000px; margin:0 auto;}
				#rooms li { position:relative; width:450px; float:left; text-align:center; padding-right:70px; padding-bottom:70px; }
				#rooms li:nth-child(1) { background:url(../images/fool.jpg) no-repeat; background-size:450px 250px; }	
				#rooms li:nth-child(2) { padding-right:0; }				
				#rooms li:nth-child(4) { padding-right:0; }				
					#rooms li img { width:500px; height:250px; box-shadow:0px 0px 5px #000; } 
					
				#rooms li p { display:none; }					
					#rooms li:hover p { display:block; color:#fff; font-weight:bold; font-size:30px; position:absolute; left:0; top:0; width:500px; height:250px; background:rgba(0,0,0,0.3); padding-top:90px; box-sizing:border-box; }	
					#rooms li:hover span { font-size:20px; }		
			
			.More{clear:both; padding-top:80px; position:relative;}
			.More ul{width:1100px; height:400px; background:#79b11a; margin-left:50px;}
			.More .travel{border-bottom:1px solid #fff;}
			.More img{width:550px; height:400px; }
				
				.travel li a:hover{font-size:30px;}
				.travel li{position:absolute; top:250px; left:670px; color:#fff; font-size:50px;}
				.travel li:nth-of-type(2){top:330px; left:910px; color:green; font-size:20px;}
				.travel li:nth-of-type(2) a{color:green;}
				
				.service li a:hover{font-size:30px;}
				.service li{position:absolute; top:630px; left:670px; color:#fff; font-size:50px;}
				.service li:nth-of-type(2){top:710px; left:910px; color:green; font-size:20px;}
				.service li:nth-of-type(2) a{color:green;}
				
				#map { margin-top:100px; }
				#map h2{color:#79b11a;}
			.mapimg img { margin-top:50px; width:990px; height:500px; box-shadow:0px 0px 5px #000; }
			.add { text-align:center; margin-top:30px; }
			.add img { width:30px; margin-right:10px; }
		
	/* footer */
	#footer { clear:both; overflow:hidden; margin-top:100px; color:black; background:white; text-align:center; padding:20px 0; font-size:16px; line-height:1.6; }
		.inf li { display:inline; }
			.inf li a { color:black; margin:0 5px; }
			.inf li a:hover { color:#000;  font-weight:bold;}
		

			
		/* footer */
		#footer{clear:both; border-top:2px solid green;} 
		address{padding-top:30px; text-align:center; }
		#footer h1{float:right; padding-top:30px;}
		
		
		