@charset "UTF-8";

.division{
    padding: 0 10px;
    border: 1px solid black;
    width: 700px;
    background-color: lightgoldenrodyellow;
}
.card {
    width : 500px;
    position: relative;
    display : inline-block;
    border : 1px solid black;
    padding: 10px 10px 20px 10px;
    box-shadow : 2px 2px 5px grey;
    background: white;
}

.card>img{
    width : 200px;
    height: 130px;
    margin-right : 10px;
    float:left;
}
.card>img+span {
    line-height: 30px;
}