@charset "UTF-8";

h1{
    color: rgb(151, 60, 73);
}
body{
    background-color : rgb(235, 135, 150);
}
.nav{
    list-style: none;
    height: 40px;
    padding: 0;
}
.nav li{
    float: left;
    position : relative;
    padding: 0;
    line-height: 40px;
    background: lightpink;
}
.nav li a, .nav li{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 0px 25px;
    display: block;
}
.nav li ul{
    opacity: 0;
    position: absolute;
    left: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgb(250, 225, 229);
}
.nav li:hover ul {
    opacity: 1;
}
.nav li ul li{
    float: none;
    height: 0px;
    line-height: 0px;
}
.nav li:hover ul li{
    height: 30px;
    line-height: 30px;
    padding: 25px 0;
}
.nav li ul li a {
    color: violet;
}
.nav li ul li:hover a{
    background: sandybrown;
}
.nav li {
    transition: all 0.2s;
}
.nav li a{
    transition: 0.5s;
}
.nav li ul {
    transition: all 1s;
}
.nav li ul li {
    transition: height 0.5s;
}
