@charset "UTF-8";

body{
    background-color: rgb(89, 161, 80);
}

#gallery ul li{
    list-style: none;
    padding: 5px;
    display: inline-table;
}
.pic{
    width: 320px;
    height: 250px;
    border : 2px solid grey;
    box-shadow: 2px 2px 10px palevioletred;
    visibility: hidden;
    position: absolute;
}
#gallery ul li:hover .pic{
    visibility: visible;
}
#gallery{
    background: url("../images/woodwallpaper.jpg");
    background-size: contain;
    border : 3px solid black;
    width : 450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: #235;
}

#gallery ul { margin-left : -15px; }