<!DOCTYPE html>  <!-- emmet : 자동 키워드 완성 도구 -->
<html>
<head>
    <meta charset="UTF-8">
    <title>HTML 수업 내용</title>
</head>
<body>
    <h1>HTML 수업 내용</h1>
    <a href="01_sample.html">1. 연습 페이지 웹 문서</a> <br>
    <a href="02_textTags.html">2. 글자 관련 태그</a> <br>
    <a href="03_listTags.html">3. 목록 관련 태그</a> <br>
    <!-- a[href="04_silsub1.html"]{4. 실습 과제}+br -->
    <a href="04_silsub1.html">4. 실습 과제</a> <br>
    <!-- a[href="05_tableTags.html"]{5. 표 태그}+br -->
    <a href="05_tableTags.html">5. 표 태그</a><br>
    <a href="06_divTags.html">6. 영역 관련 태그</a> <br>
    <a href="07_semanticTags.html">7. 시멘틱 태그</a> <br>
    <a href="08_imageTags.html">8. 이미지 태그</a> <br>
    <a href="09_mediaTags.html">9. 미디어 태그들</a> <br>
    <a href="10_hyperlinkTags.html">10. 하이퍼링크 태그</a> <br>
    <a href="11_formTags.html">11. 폼 입력 관련 태그들</a> <br>
    <a href="12_orderform.html">HTML 종합 실습 1</a> <br>
    <a href="13_productform.html">HTML 종합 실습 2</a> <br>
</body>
</html>