<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>실습 1</title>
</head>
<body>
    <h1>UI/UX 웹 콘텐츠 융합 <br>응용SW 개발자 양성과정 학습내용</h1>
	<h3>담임 선생님 : 유정훈</h3>
	<h4>수강생 명 : 홍길동</h4>
	<hr>
	
	<ul>
        <!-- (li>ul>li>s)*2 -->
		<li>프로그래밍 언어
			<ul>
				<li><s>Java</s></li>
			</ul>
		</li>
		<li> DBMS 수업
			<ul>
                <li><s>Oracle</s></li>
			</ul>
		</li>
        <!-- li>ol[type='a']>li*4 -->
		<li>화면 설계
			<ol type="a">
				<li><mark>HTML5</mark></li>
				<li>CSS3</li>
				<li>JavaScript<sub>ECMA</sub></li>
				<li>JQuery<sup>3 버전</sup></li>
			</ol>
		</li>
		<li>서버 개발 기술
			<ol type="i">
				<li>Servlet</li>
				<li>JSP</li>
				<li>AJAX</li>
			</ol>
		</li>
		<li> Coming Soon ...</li>
	</ul>

    <a href="00_index.html">처음 페이지로 이동하기</a>
    
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>