<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>표 태그</title>
</head>
<body>
    <h1>기본 표 형식</h1>

    <!--
        table 태그 : 웹 문서 상의 표를 나타내는 태그
        <table>
             <tr> </tr> : 표의 한 행을 의미
             <th> </th> : 표의 첫 행
             <td> </td> : 행 안의 각 내용(컬럼)   
        </table>
    -->

    <table border="1">
        <caption>
            <b>라면 종류</b>
        </caption> <!-- 테이블 설명 글 -->
        <tr>
            <th>이름</th>
            <th>제조사</th>
            <th>매운정도(순함/매움)</th>
        </tr>
        <tr>
            <td>너구리</td>
            <td>농심</td>
            <td>순한맛</td>
        </tr>
        <!-- (tr>td*3)*3 -->
        <tr>
            <td>진라면</td>
            <td>오뚜기</td>
            <td>순한맛</td>
        </tr>
        <tr>
            <td>삼양라면</td>
            <td>삼양</td>
            <td>순한맛</td>
        </tr>
        <tr>
            <td>꼬꼬면</td>
            <td>팔도</td>
            <td>순한맛</td>
        </tr>
        <tr>
            <td> 라면 총 4 개 </td>
        </tr>
    </table>

    <!-- h1{표의 행, 열 병합하기} -->
    <h1>표의 행, 열 병합하기</h1>

    <!-- table[border=1] -->
    <table border="1">
        <tr>
            <td width="70px" align="center" rowspan="3">사진</td>
            <td width="80px">이름</td>
            <td width="150px"> </td>
        </tr>
        <tr>
            <td>연락처</td>
            <td> </td>
        </tr>
        <!-- tr>td*3 -->
        <tr>
            <td>주소</td>
            <td></td>
        </tr>
        <tr>
            <td height="100px">자기소개</td>
            <td height="50px" colspan="2"></td>
        </tr>
        <tr>
            <td height="100px">입사동기</td>
            <td colspan="2"></td>
        </tr>
    </table>

    <br>

    <h1>실습 2</h1>
    <h3>오늘 확진자 현황 표 만들기</h3>

    <table border="1">
        <caption>
            <b>누적 확진자 현황</b><sub>(8.23. 00시 기준)</sub>
        </caption>
        <tr>
            <th colspan="4">확진 환자</th>
        </tr>
        <tr>
            <th width="60px">누적</th>
            <th colspan="3">전일대비</th>
        </tr>
        <tr>
            <td rowspan="2">237,782</td>
            <th style="color : blue;">소계</th>
            <th style="color : blue;">국내발생</th>
            <th style="color : blue;">해외유입</th>
        </tr>
        <tr>
            <td style="color:red;" align="center">+1,418</td>
            <td style="color:red;" align="center">1,370</td>
            <td style="color:red;" align="center">48</td>
        </tr>
    </table>

    <br>

    <h1>테이블 구조화 태그</h1>

    <table border="1">
        <thead>
            <!-- tr>th*3 -->
            <tr>
                <th>이름</th>
                <th>나이</th>
                <th>취미</th>
            </tr>
        </thead>
        <tbody>
            <!-- (tr>td*3)*3 -->
            <tr>
                <td>홍길동</td>
                <td>10</td>
                <td>독서</td>
            </tr>
            <tr>
                <td>고길동</td>
                <td>15</td>
                <td>부동산</td>
            </tr>
            <tr>
                <td>김유신</td>
                <td>20</td>
                <td>존버</td>
            </tr>
        </tbody>
        <tfoot>
            <!-- tr>td*2 -->
            <tr>
                <td>총 인원</td>
                <td colspan="2"> 3명</td>
            </tr>
        </tfoot>
    </table>


    <br><br>

    <a href="00_index.html"> 인덱스로 돌아가기... </a>

    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>