<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>시멘틱 태그</title>
    <style>
        body{ width:500px;}
        header, section, article, aside, footer{display:block; width:495px; margin:4px; padding:4px; background: lightblue; text-align:center;}
        section{float:left; width:340px; height:400px;}
        article{width:300px; background:wheat;}
        aside{float:left; width:125px; height:400px;}
        footer{overflow:hidden;}
    </style>
</head>
<body>
    <h1>시맨틱 태그</h1>

    <header>
        <!-- 웹 문서의 머릿글 부분-->
        <h1>홍길동's Homepage!</h1>

        <nav>
            <!-- 웹 문서의 메뉴 영역 -->
            <!-- ul>li*3 -->
            <ul>
                <li>
                    <a href="0_index.html">Home</a>
                </li>
                <li>
                    공지사항
                </li>
                <li>
                    게시판
                </li>
            </ul>
        </nav>
    </header>

    <section>
        <!-- 웹 문서의 주요 주제 관련 내용 -->

        <article>
            <!-- 주제 관련 세부 내용 -->
            다 릴케 무엇인지 이름을 까닭입니다. 그러나 자랑처럼 위에도 하나에 별빛이 위에 까닭입니다.
        </article>

        <article>
		토끼, 헤는 애기 말 멀리 쉬이 라이너 벌레는 없이 있습니다. 하나에 별 슬퍼하는 별 있습니다.
	</article>

        <article>
            <p>
                헤는 별 하늘에는 못 나의 북간도에 말 계십니다. 아직 쉬이 파란 불러 어머님, 너무나 별을 있습니다. 하늘에는 새워 오면 북간도에 하나에 그리워 된 내린 까닭입니다.
            </p>
        </article>

    </section>

    <aside>
        <!-- 주제와 관련이 적거나 
            상대적으로 덜 중요한 내용을 
            작성하는 영역
        -->
        <p>
            광고 내용
        </p>
    </aside>

    <footer>
        <!-- 해당 웹 문서의 저자, 저작권 정보 등을 명시하는
             바닥글 내용을 작성하는 영역 -->
        Copyright by 352 Class, All right reserved. <br>
        본 문서는 352반 수업 페이지 입니다.
    </footer>
    <br><br>
    <a href="00_index.html"> 인덱스로 돌아가기... </a>
    <br><br><br><br><br><br><br><br><br><br>

</body>
</html>