<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>이미지 태그</title>
</head>
<body>
    <h1>이미지 태그</h1>

    <img src="../resources/images/river1.PNG" alt="">

    <p>
        src 속성은 source(원본 위치)의 약자로, 이미지의 위치(경로)를
        설정하여 화면에 해당 이미지를 표현하는 속성이다.
        <br><br>

        <b>절대 경로 : </b>
        C:, D: 와 같은 보조 기억장치 이름부터 <br>
        해당 파일이 위치하는 곳까지 <br>
        모든 경로를 나열하여 찾아가는 방식 <br>
        ex) C:\workspace\FrontEndWorkspace\HTML5\views\08_imageTags.html
        <br>
        <br>

        <b>상대 경로 : </b>
        현재 파일의 위치를 기준으로 찾고자 하는 파일의 경로를<br>
        탐색하는 방법 <br>
        ./, 파일명으로 시작 : 현재 폴더 기준<br>
        ../ : 현재 파일이 있는 폴더 보다 한 단계 위 <br>
        ex) 
          '00_index.html' or './00_index.html' : 같은 폴더의 index 파일 <br>
          '../resources/test.jpg' : 한 단계 위에 있는 폴더 중 resources 폴더 안의 파일 <br>
          '../../../test.jpg' : 3 단계 위의 이미지 파일
    </p>

    <h3>alt 속성</h3>
    <img src="../resources/images/cruella.jpg" 
         alt="이 사진은 크루엘라사진입니다.">
        
    <p>
        사진의 경로가 잘못되었거나, 이미지가 훼손된 경우, <br>
        스크린 리더기로 화면에 접근했을 경우 사진을 글자로 <br>
        대체해주는 속성.
    </p>

    <br>

    <h3>width와 height 속성</h3>
    <h4>고정 길이 : 화면 크기가 변해도 사진은 그대로</h4>
    <!-- img[src="../resources/images/flower$.png" width="100px" height="100px"]*5 -->
    <img src="../resources/images/flower1.png" alt="" width="100px" height="100px">
    <img src="../resources/images/flower2.png" alt="" width="100px" height="100px">
    <img src="../resources/images/flower3.png" alt="" width="100px" height="100px">
    <img src="../resources/images/flower4.png" alt="" width="100px" height="100px">
    <img src="../resources/images/flower5.png" alt="" width="100px" height="100px">

    <h4>가변 길이 : 화면 크기에 따라 사진 크기도 변함</h4>
    <!-- img[src="../resources/images/flower$.png" width="15%" height="100px"]*5 -->
    <img src="../resources/images/flower1.png" alt="" width="15%" height="100px">
    <img src="../resources/images/flower2.png" alt="" width="15%" height="100px">
    <img src="../resources/images/flower3.png" alt="" width="15%" height="100px">
    <img src="../resources/images/flower4.png" alt="" width="15%" height="100px">
    <img src="../resources/images/flower5.png" alt="" width="15%" height="100px">

    <br><br>

    <a href="00_index.html"> 인덱스로 돌아가기... </a>

    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>