<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>미디어 태그들</title>
</head>
<body>
    <h1>미디어 태그들</h1>

    <!-- HTML5 부터는 윈도우 전용 플러그인(WMA)을 사용하지 않아도
         비디오, 음원 파일을 직접 HTML문서로 실행 시킬 수 있게 되었다! -->
    <p>
        기본 모양은 같으나 브라우저 별로 제공되는 속성이 다르다.
        따라서 웹 화면 개발 시 여러 브라우저에서 같은 기능을 수행하는지
        호환성 체크를 할 수 있어야 한다.
    </p>

    <h3>오디오 태그(음악:mp3, ogg ...)</h3>
    <audio src="../resources/audio/major.mp3"
           controls="controls"
           loop="loop"></audio>
   <!-- <audio src="../resources/audio/major.mp3"
           controls="controls"
           autoplay="autoplay"
           loop="loop"></audio> -->
    <br>

    <h3>비디오 태그(영상:mp4, avi ...)</h3>
    <video src="../resources/video/video.mp4"
           controls="controls"
           width="500px" height="400px"></video>

    <br><br>

    <a href="00_index.html"> 인덱스로 돌아가기... </a>

    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>