<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>하이퍼링크 태그</title>
</head>
<body>
    <h1>하이퍼링크 태그</h1>

    <h3>a 태그를 이용한 하이퍼 링크 만들기</h3>
    <!-- ul>(li>a)*3 -->
    <p>
        a 태그의 href 속성을 통해 원하는 웹 문서로 이동할 수 있다.
    </p>
    <ul>
        <li><a href="01_sample.html">연습용 웹 문서 이동하기</a></li>
        <li><a href="02_textTags.html">글자 관련 태그 문서 이동하기</a></li>
        <li><a href="03_listTags.html">목록 관련 태그 문서 이동하기</a></li>
    </ul>

    <p>
        만약 인터넷이 연결되어 있다면, 웹 사이트도 이동할 수 있다.
    </p>
    <!-- ul>(li>a)*3 -->
    <ul>
        <li><a href="https://www.naver.com">네이버로 가기</a></li>
        <li><a href="https://www.iei.or.kr" target="_blank">KH 정보교육원</a></li>
        <li><a href="https://www.google.com" 
               target="_self" title="구글조아">구글</a></li>
    </ul>

    <br>

    <h3>이미지에 링크달기</h3>
    <!-- a>img -->
    <a href="http://www.w3schools.com" target="_blank">
        <img src="../resources/images/flower1.PNG" alt="w3schools"
             width="120px" height="120px">
    </a>

    <br>
    <br>

    <h3>같은 페이지 내의 특정 위치로 이동하기</h3>

    <!-- ul>(li>a)*3 -->
    <ul>메뉴
        <li><a href="#top"> ^ top으로 가기</a></li>
        <li><a href="#content1">상품 설명</a></li>
        <li><a href="#content2">상품 리뷰</a></li>
        <li><a href="#content3">상품 문의</a></li>
    </ul>

    <!-- (h4[id="content$"]{상품 }+p)*3 -->
    <h4 id="content1">상품 설명</h4>
    <p>
        이 헌법중 공무원의 임기 또는 중임제한에 관한 규정은 이 헌법에 의하여 그 공무원이 최초로 선출 또는 임명된 때로부터 적용한다. 국회의원과 정부는 법률안을 제출할 수 있다. 대한민국의 국민이 되는 요건은 법률로 정한다. 모든 국민의 재산권은 보장된다. 그 내용과 한계는 법률로 정한다. 대한민국의 영토는 한반도와 그 부속도서로 한다. 정당은 그 목적·조직과 활동이 민주적이어야 하며, 국민의 정치적 의사형성에 참여하는데 필요한 조직을 가져야 한다. 모든 국민은 건강하고 쾌적한 환경에서 생활할 권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다. 국가는 농업 및 어업을 보호·육성하기 위하여 농·어촌종합개발과 그 지원등 필요한 계획을 수립·시행하여야 한다.

        모든 국민은 사생활의 비밀과 자유를 침해받지 아니한다. 헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다. 재의의 요구가 있을 때에는 국회는 재의에 붙이고, 재적의원과반수의 출석과 출석의원 3분의 2 이상의 찬성으로 전과 같은 의결을 하면 그 법률안은 법률로서 확정된다. 모든 국민은 법률이 정하는 바에 의하여 국가기관에 문서로 청원할 권리를 가진다. 의무교육은 무상으로 한다. 법관은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니하며, 징계처분에 의하지 아니하고는 정직·감봉 기타 불리한 처분을 받지 아니한다. 국회는 정부의 동의없이 정부가 제출한 지출예산 각항의 금액을 증가하거나 새 비목을 설치할 수 없다.
    </p>

    <h4 id="content2">상품 리뷰</h4>
    <p>
        이 헌법중 공무원의 임기 또는 중임제한에 관한 규정은 이 헌법에 의하여 그 공무원이 최초로 선출 또는 임명된 때로부터 적용한다. 국회의원과 정부는 법률안을 제출할 수 있다. 대한민국의 국민이 되는 요건은 법률로 정한다. 모든 국민의 재산권은 보장된다. 그 내용과 한계는 법률로 정한다. 대한민국의 영토는 한반도와 그 부속도서로 한다. 정당은 그 목적·조직과 활동이 민주적이어야 하며, 국민의 정치적 의사형성에 참여하는데 필요한 조직을 가져야 한다. 모든 국민은 건강하고 쾌적한 환경에서 생활할 권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다. 국가는 농업 및 어업을 보호·육성하기 위하여 농·어촌종합개발과 그 지원등 필요한 계획을 수립·시행하여야 한다.

        모든 국민은 사생활의 비밀과 자유를 침해받지 아니한다. 헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다. 재의의 요구가 있을 때에는 국회는 재의에 붙이고, 재적의원과반수의 출석과 출석의원 3분의 2 이상의 찬성으로 전과 같은 의결을 하면 그 법률안은 법률로서 확정된다. 모든 국민은 법률이 정하는 바에 의하여 국가기관에 문서로 청원할 권리를 가진다. 의무교육은 무상으로 한다. 법관은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니하며, 징계처분에 의하지 아니하고는 정직·감봉 기타 불리한 처분을 받지 아니한다. 국회는 정부의 동의없이 정부가 제출한 지출예산 각항의 금액을 증가하거나 새 비목을 설치할 수 없다.
    </p>

    <h4 id="content3">상품 문의</h4>
    <p>
        이 헌법중 공무원의 임기 또는 중임제한에 관한 규정은 이 헌법에 의하여 그 공무원이 최초로 선출 또는 임명된 때로부터 적용한다. 국회의원과 정부는 법률안을 제출할 수 있다. 대한민국의 국민이 되는 요건은 법률로 정한다. 모든 국민의 재산권은 보장된다. 그 내용과 한계는 법률로 정한다. 대한민국의 영토는 한반도와 그 부속도서로 한다. 정당은 그 목적·조직과 활동이 민주적이어야 하며, 국민의 정치적 의사형성에 참여하는데 필요한 조직을 가져야 한다. 모든 국민은 건강하고 쾌적한 환경에서 생활할 권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다. 국가는 농업 및 어업을 보호·육성하기 위하여 농·어촌종합개발과 그 지원등 필요한 계획을 수립·시행하여야 한다.

        모든 국민은 사생활의 비밀과 자유를 침해받지 아니한다. 헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다. 재의의 요구가 있을 때에는 국회는 재의에 붙이고, 재적의원과반수의 출석과 출석의원 3분의 2 이상의 찬성으로 전과 같은 의결을 하면 그 법률안은 법률로서 확정된다. 모든 국민은 법률이 정하는 바에 의하여 국가기관에 문서로 청원할 권리를 가진다. 의무교육은 무상으로 한다. 법관은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니하며, 징계처분에 의하지 아니하고는 정직·감봉 기타 불리한 처분을 받지 아니한다. 국회는 정부의 동의없이 정부가 제출한 지출예산 각항의 금액을 증가하거나 새 비목을 설치할 수 없다.
    </p>

    <br><br>

    <a href="00_index.html"> 인덱스로 돌아가기... </a>

    <br><br><br><br><br><br><br><br><br><br>
</body>
</html>