<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Expanding menu on click</title>
    <link rel="stylesheet" href="../resources/CSS/ExpandingBar.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="toggle"></div>
    <div class="overlay"></div>
    <div class="menu">
        <ul>
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="links_name">User</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chat' ></i>
                    <span class="links_name">Messages</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart' ></i>
                    <span class="links_name">Analytics</span>
                </a>
            <li>
                <a href="#">
                    <i class='bx bx-folder' ></i>
                    <span class="links_name">File Manager</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart' ></i>
                    <span class="links_name">Saved</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog' ></i>
                    <span class="links_name">Setting</span>
                </a>
            </li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.toggle').click(function(){
                $('.toggle').toggleClass('active')
                $('.overlay').toggleClass('active')
                $('.menu').toggleClass('active')
            })
        })

    </script>
</body>
</html>