<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../resources/CSS/slider.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  </head>

  <body>
      <section class="header">
          <div class="logo-content">
              <div class="logo">
                <i class='bx bxs-plane-take-off'></i>
                <div class="logo-name">TRAVEL MAKER</div>
            </div>
          </div>
          <div class="user-content">
              <div class="userImg">
                <i class='bx bxs-user-circle'></i>
              </div>
          </div>
      </section>

    <section class="body">
        <div class="sidebar">
            <div class="logo_content">
                <i class='bx bx-plus' id="btn"></i>
            </div>
            <ul class="nav_list">
                <li>
                    <a href="#">
                        <i class='bx bx-search' ></i>
                        <input type="text" placeholder="Search..." >
                    </a>
                    <span class="tooltip">Search</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-grid-alt' ></i>
                        <span class="links_name">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-user'></i>
                        <span class="links_name">User</span>
                    </a>
                    <span class="tooltip">User</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-chat' ></i>
                        <span class="links_name">Messages</span>
                    </a>
                    <span class="tooltip">Messages</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-pie-chart' ></i>
                        <span class="links_name">Analytics</span>
                    </a>
                    <span class="tooltip">Analytics</span>
                <li>
                    <a href="#">
                        <i class='bx bx-folder' ></i>
                        <span class="links_name">File Manager</span>
                    </a>
                    <span class="tooltip">File Manager</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cart' ></i>
                        <span class="links_name">Order</span>
                    </a>
                    <span class="tooltip">Order</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-heart' ></i>
                        <span class="links_name">Saved</span>
                    </a>
                    <span class="tooltip">Saved</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog' ></i>
                        <span class="links_name">Setting</span>
                    </a>
                    <span class="tooltip">Setting</span>
                </li>
            </ul>
        </div>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="test">
                    <img src="../resources/IMAGE/s-1.jpg" class="movie" />
                    <div>
                        <div class="details">
                            <h3>GODZILLA</h3>
                        </div>
                        <p>
                            never seen acting with godzilla. the enemy isn't seen before. biggest blockbuster in 2021!
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="test">
                    <img src="../resources/IMAGE/s-2.jpg" class="movie" />
                    <div>
                        <div class="details">
                            <h3>STARWARS</h3>
                        </div>
                        <p>
                            never seen acting with godzilla. the enemy isn't seen before. biggest blockbuster in 2021!
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="test">
                    <img src="../resources/IMAGE/s-3.jpg" class="movie" />
                    <div>
                        <div class="details">
                            <h3>BEAUTY AND THE BEAST</h3>
                        </div>
                        <p>
                            never seen acting with godzilla. the enemy isn't seen before. biggest blockbuster in 2021!
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="test">
                    <img src="../resources/IMAGE/s-4.jpg" class="movie" />
                    <div>
                        <div class="details">
                            <h3>READY PLAYER ONE</h3>
                        </div>
                        <p>
                            never seen acting with godzilla. the enemy isn't seen before. biggest blockbuster in 2021!
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="test">
                    <img src="../resources/IMAGE/s-5.png" class="movie" />
                    <div>
                        <div class="details">
                            <h3>MAD MAX</h3>
                        </div>
                        <p>
                            never seen acting with godzilla. the enemy isn't seen before. biggest blockbuster in 2021!
                        </p>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
    </section>

    <section class="footer">
        <div class="info-content">
            <div class="info">
                <h3>&copy; RIGHT TO RESERVED</h3><span></span>
            </div>
        </div>
    </section>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 0,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
        pagination: {
          el: ".swiper-pagination",
        },
        loop: true,
      });
    </script>

  </body>
</html>
